h1 {
    font-family: "Trebuchet MS Bold", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #41525c;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 65px;
}
.Blocks-content {
    margin: 30px auto 0;
    width: 883px;
    font-size: 0;
}

.Blockbody {
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
    overflow: hidden;
}
.Blockbody:nth-of-type(2) {
    border: 4px solid #EE8129;
    width: 286px;
    position: relative;
}
header {
    text-align: center;
}
.Blockbody:nth-of-type(1) header {
    background: #2BC2D4;
}

.Blockbody:nth-of-type(2) header {
    background: #EE8129;
}

.Blockbody:nth-of-type(3) header {
    background: #00B89A;
}

.Blockbody:nth-of-type(1) header,
.Blockbody:nth-of-type(3) header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.Blockbody:nth-of-type(1),
.Blockbody:nth-of-type(3) {
    border: 1px solid #e8eaec;
    width: 289px;
}

.Blockbody:nth-of-type(1) {
    margin-right: -6px;
}

.Blockbody:nth-of-type(3) {
    margin-left: -6px;
}

header .title {
    font-family: "Trebuchet MS Bold", sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 23px 10px;
    margin: 0;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Blockbody:nth-of-type(1) header .title,
.Blockbody:nth-of-type(3) header .title {
    padding: 20px 10px 13px;
}

.Block-details {
    padding: 19px 14px 30px;
}

.Blockbody:nth-of-type(1) .pricing-in,
.Blockbody:nth-of-type(3) .pricing-in {
    padding: 19px 14px 23px;
}

.Block-details .title {
    font-family: "Trebuchet MS Regular", sans-serif;
    font-size: 24px;
    color: #3f4042;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 16px;
}

.Block-details .price {
    position: relative;
    font-family: "Trebuchet MS Bold", sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: #35495a;
    width: 150px;
    height: 75px;
    line-height: 60px;
    padding: 6px 13px;
    box-sizing: border-box;
    letter-spacing: -0.05em;
    margin: 0 auto 26px;
}

.Block-details .price span {
    position: absolute;
    font-family: "Trebuchet MS Regular", sans-serif;
}

.Block-details .price span:first-of-type {
    top: 6px;
    left: 0;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
}

.Block-details .price span:last-of-type {
    bottom: 0;
    right: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    letter-spacing: -0.03em;
}

.Block-details ul {
    list-style: none;
    padding: 0;
    margin-bottom: 16px;
}

.Block-details li {
    position: relative;
    font-family: "Trebuchet MS Regular", sans-serif;
    font-size: 15px;
    color: #888c94;
    padding: 8px 20px 8px 63px;
    margin-bottom: 2px;
}

.Block-details li:before {
    content: "";
    position: absolute;
    display: block;
    top: 9px;
    left: 33px;
    width: 15px;
    height: 15px;
    background: url("tick/tick.png");
}
.Block-details li:nth-child(odd) {
    background: #edf5fd;
}

.Block-details li:nth-child(even) {
    background: #f5f5f6;
}

button {
    width: 252px;
    padding: 11px;
    box-sizing: border-box;
    margin: 0 4px;
    font-family: "Trebuchet MS Bold", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.Blockbody:nth-of-type(1) button,
.Blockbody:nth-of-type(3) button {
    background: #3371a6;
    box-shadow: 0 3px 0 0 #16436a;
}

.Blockbody:nth-of-type(2) button {
    background: #EE8129;
    box-shadow: 0 3px 0 0 #B3560B;
}

.Blockbody:nth-of-type(1) button:hover,
.Blockbody:nth-of-type(3) button:hover {
    background: #4387a6;
}

.Blockbody:nth-of-type(2) button:hover {
    background: #ee9d3a;
}

.Blockbody button:active {
    box-shadow: none;
}

.Blockbody button:focus {
    outline: none;
    box-shadow: none;
}
