/* ----------------------------------Header------------------------------------------------------ */
.wrapper{
    position: relative;
    overflow: hidden;}

.topHeader a {
    text-decoration: none;
    font-family:'Myriad Pro', Arial, sans-serif;
    color:#EE8531;
    margin-left:135px;
    font-size: 30px;}

.topHeader a span:last-child {
    color: #3070A8;
    font-weight: bold;
    text-transform: uppercase;}

.menu li {
    list-style: none;
    font-size:12px;
    display: inline-block;
    margin: 0px 7px;}

.menu {
    position: relative;
    margin-left:650px;
    margin-top:-30px;}

.menu a {
    text-decoration: none;
    font-family:'Myriad Pro', Arial, sans-serif;
    text-transform: uppercase;
    color:#A1A1A1;
    padding: 10px 15px 14px 15px;}

li a:hover {
    color: #3070A8;
    border-bottom:4px solid #3070A8;  }

/* ----------------------------------Baner------------------------------------------------------ */
.site-banner {
    position: relative;
    background: url("pictures/banner-background.png");
    background-size: cover;
    height: 585px;
    color: white;  }
.site-banner .wrapper {
    position: relative;
    text-align: center;
    padding-top: 100px;}

.site-banner p:first-child {
    font-weight:300;
    font-size:36px;
    font-family: 'Myriad Pro', Arial, sans-serif;}

.site-banner p:first-child span {
    font-weight:bold;
    text-transform:uppercase;
    font-size:52px;
    font-family: 'Myriad Pro', Arial, sans-serif;}

.site-banner p:nth-child(2) {
    font-family: Calibri, sans-serif;
    width:550px;
    margin:-16px auto 0;
    font-style:italic;
    font-size:19px;}

.site-banner .wrapper a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Calibri, sans-serif;
    min-width:110px;
    display:inline-block;
    margin-top:30px;
    padding:16px 48px;
    border-radius:7px;
    border:1px solid;}

.site-banner .wrapper a:hover span {
    color:#EE8531;}

/* ----------------------------------Services------------------------------------------------------ */
.services {
    font-family:'Trebuchet MS', Arial, sans-serif;
    height: 585px;
    color: #41525c;}

.services .servicesHeader {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;}

.services .services-boxes .service-box {
    width:350px ;
    height: 100%;
    display: inline-block;
    text-align: center;
    padding: 20px;}

.services .services-boxes .service-box h1{
    color:#3070a8;
    font-weight:normal;
    font-size:26px;}

.services .services-boxes {
    position:relative;
    margin-left: 120px;
    text-align: center;}


.services .services-boxes .service-box p {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #999;
    font-size:14px;}


/* ----------------------------------Midle-Section------------------------------------------------------ */

.middle-section {
    position: relative;
    background: url("pictures/middle-section-background.png");
    background-size: cover;
    height: 580px;
}

.middle-section .wrapper {
    text-align: left;
    font-family:'Myriad Pro', Arial, sans-serif;
    line-height: 2;
    position: relative;
    padding:50px 700px 50px 100px;}

.middle-section .wrapper h1 {
    text-transform: uppercase;
    color:#D67529;  }

.middle-section .wrapper p {
    font-style:italic;
    font-size: 18px;
    color:#dddddd;}

.middle-section .wrapper ul {
    color:#7D7D7D;
    font-size: 15px;  }
.middle-section .wrapper ul li{
    padding: 9px;}

.middle-section .wrapper ul li:nth-child(2){
    color:#29547B;}
/* ----------------------------------Pricing------------------------------------------------------ */
.Pricing h1 {
    font-family: "Trebuchet MS Bold", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #41525c;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 65px;
}
.Pricing .Blocks-content {
    margin: 30px auto 0;
    width: 883px;
    font-size: 0;
}
.Blockbody {
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
    overflow: hidden;
}
.Blockbody:nth-of-type(2) {
    border: 4px solid #EE8129;
    width: 286px;
    position: relative;
}
.Blockbody header {
    text-align: center;
}
.Blockbody:nth-of-type(1) header {
    background: #2BC2D4;
}

.Blockbody:nth-of-type(2) header {
    background: #EE8129;
}

.Blockbody:nth-of-type(3) header {
    background: #00B89A;
}

.Blockbody:nth-of-type(1) header,
.Blockbody:nth-of-type(3) header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.Blockbody:nth-of-type(1),
.Blockbody:nth-of-type(3) {
    border: 1px solid #e8eaec;
    width: 289px;
}

.Blockbody:nth-of-type(1) {
    margin-right: -6px;
}

.Blockbody:nth-of-type(3) {
    margin-left: -6px;
}

header .title {
    font-family: "Trebuchet MS Bold", sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 23px 10px;
    margin: 0;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Blockbody:nth-of-type(1) header .title,
.Blockbody:nth-of-type(3) header .title {
    padding: 20px 10px 13px;
}

.Block-details {
    padding: 19px 14px 30px;
}

.Blockbody:nth-of-type(1) .pricing-in,
.Blockbody:nth-of-type(3) .pricing-in {
    padding: 19px 14px 23px;
}

.Block-details .title {
    font-family: "Trebuchet MS Regular", sans-serif;
    font-size: 24px;
    color: #3f4042;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 16px;
}

.Block-details .price {
    position: relative;
    font-family: "Trebuchet MS Bold", sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: #35495a;
    width: 150px;
    height: 75px;
    line-height: 60px;
    padding: 6px 13px;
    box-sizing: border-box;
    letter-spacing: -0.05em;
    margin: 0 auto 26px;
}

.Block-details .price span {
    position: absolute;
    font-family: "Trebuchet MS Regular", sans-serif;
}

.Block-details .price span:first-of-type {
    top: 6px;
    left: 0;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
}

.Block-details .price span:last-of-type {
    bottom: 0;
    right: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    letter-spacing: -0.03em;
}

.Block-details ul {
    list-style: none;
    padding: 0;
    margin-bottom: 16px;
}

.Block-details li {
    position: relative;
    font-family: "Trebuchet MS Regular", sans-serif;
    font-size: 15px;
    color: #888c94;
    padding: 8px 20px 8px 63px;
    margin-bottom: 2px;
}

.Block-details li:before {
    content: "";
    position: absolute;
    display: block;
    top: 9px;
    left: 33px;
    width: 15px;
    height: 15px;
    background: url("pictures/tick.png");
}
.Block-details li:nth-child(odd) {
    background: #edf5fd;
}

.Block-details li:nth-child(even) {
    background: #f5f5f6;
}

 .Blockbody button {
    width: 252px;
    padding: 11px;
    box-sizing: border-box;
    margin: 0 4px;
    font-family: "Trebuchet MS Bold", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.Blockbody:nth-of-type(1) button,
.Blockbody:nth-of-type(3) button {
    background: #3371a6;
    box-shadow: 0 3px 0 0 #16436a;
}

.Blockbody:nth-of-type(2) button {
    background: #EE8129;
    box-shadow: 0 3px 0 0 #B3560B;
}

.Blockbody:nth-of-type(1) button:hover,
.Blockbody:nth-of-type(3) button:hover {
    background: #4387a6;
}

.Blockbody:nth-of-type(2) button:hover {
    background: #ee9d3a;
}

.Blockbody button:active {
    box-shadow: none;
}

.Blockbody button:focus {
    outline: none;
    box-shadow: none;
}


/* ----------------------------------Testimonials------------------------------------------------------ */

.testimonials {
    position: fixed;
    width: 1388px;
    background: url("pictures/background-image.png") no-repeat scroll;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.testimonials h1{
    font-size: 38px;
    text-transform: uppercase;
    word-spacing:3px;
    text-align: center;
    padding:56px 0;
    color: #3171AA;
}

.testimonials h1 :first-child {color: #F28228;}

.testimonials div.comment-customer, div.customer-position {
    color: #5f8eb9;
    font-style: italic;
    padding: 10px 0;
}

.testimonials div.customer-position {
    text-align: right;
}
.testimonials .Customer1 .Photo {
    position: absolute;
    left: -135px;
    top: 0;
}
.testimonials .Customer2 .Photo {
    position: absolute;
    left: 700px;
    top: 215px;
}

.testimonials div.comment-customer, div.Customer1:nth-of-type(odd) {
    float: left;
}
.testimonials div.Customer1  {
    position: relative;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 25%;
}
.testimonials div.Customer2 {
    float: left;
    margin-left: 15%;
}
.testimonials div.Comment {
    position: relative;
    color: #818181;
    font-size: 14px;
    width: 350px;
    background-color: #ffffff;
    height: 96px;
    padding: 4px 12px;
    box-sizing: border-box;
}
div.text {
    clear: both;
    border-top: 2px dotted #9e9e9e;
    padding-top: 8px;
}
div.Comment:before {
    content: "";
    position: absolute;
    left: -5%;
    top: 29%;
    border-style: solid;
    border-width: 22px 28px 22px 0;
    border-color: transparent #ffffff transparent transparent;

}


/* ----------------------------------Footer------------------------------------------------------ */


.Footer .contacts .contact-data1 li:nth-child(1){
    list-style-image: url(pictures/geoposition.png);}

.Footer .contacts .contact-data2 li:nth-child(1){
    list-style-image: url(pictures/mobileico.png);  }

.Footer .contacts .contact-data3 li:nth-child(1){
    list-style-image: url(pictures/mail.png);  }

.Footer .contacts .social-utility li{
    display: inline;
}

