
*{
    list-style: none;
    text-decoration: none;
}
nav {
    background-color: #00A0FF;
    margin:0 auto;
    width: 100%;
    position: relative;
}
.Menu  {
    font-family: Economica, serif;
    width:900px;
    margin:0 auto;
}
a {
    color: #fff;
}
ul li  {
    display: inline-block;
    margin:13px 7px;
    padding:2px 1px;
}
.Submenu>li>a{
    line-height:1;
    padding:3px;
    cursor: pointer;
}

.Menu ul li {
    cursor: pointer;
    font-family: sans-serif;
    font-size: 12px;
    display: inline-block;
    background-color: #eee;
    }

.Menu li:hover a{
    background-color: #eeeeee;
    color: gray;
    padding-top: 15px;
    padding-bottom: 15px;
}
.Menu li:hover .Submenu {
    display: inline-block;
}
.Menu .Submenu {
    padding: 5px;
    background-color: #eeeeee;
    position: absolute;
    top: 75%;
    left:0; right: 0;
    width: 99%;
    display: none;
    margin:12px;
    text-align: center;
    margin-left: -1px;
    padding-bottom: 0px;
}



